@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    font-family: anta;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.dark-mode {
    --navColor: black;
    --navBorder: white;
    --bodyColor: black;
    --textColor: white;
}

body {
    transition: 0.6s;
    --navColor: white;
    --navBorder: black;
    --bodyColor: white;
    --textColor: black;

    background: var(--bodyColor);
}
header {
    transition: 0.6s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--navBorder);
    background: var(--navColor);
    color: white;
    width: 100%;
    height: 100px;
}

.navLogo > h1 {
    color: var(--textColor);
}
.navLinks {
    display: flex;

}

.navLinks > ul {
    list-style: none;
    display: flex;
}

.navLinks > ul > li > a {
    transition: 0.6s;
    text-decoration: none;
    color: var(--textColor);
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
}

.navLinks > ul > li > a:hover {
    transition: 0.6s;
    background: var(--textColor);
    color: var(--navColor);
    padding: 10px;
    border-radius: 8px;
}
.navUtility > i {
    cursor: pointer;
    color: var(--textColor);
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
}

.navUtility > i:hover {
    transition: 0.6s;
    color: var(--navColor);
    background: var(--textColor);
    padding: 10px;
    border-radius: 10px;
}

main {
    margin-top: 40px;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.cardText {
    display: flex;
    flex-direction: column;
    width: 500px;
}


.cardText h1 {
    margin-bottom: 25px;
    color: var(--textColor);
}
.cardText h2 {
    margin-bottom: 25px;
    color: var(--textColor);
}

.cardText p {
    color: var(--textColor);
}


img {
    width: 400px;
    border-radius: 50px;
}

.searchBar {
    display: none;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--navColor);
    padding: 30px;
    border-top: 1px solid var(--navBorder);
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
}

.redes-sociais i {
    transition: 0.6s;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
}

.redes-sociais i:hover {
    transition: 0.6s;
    color: var(--navColor);
    background: var(--textColor);
    padding: 10px;
    border-radius: 10px;
}