@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 20px;
    background: rgb(19, 19, 19);
}

form h1 {
    text-align: center;
    color: white;
}

body {
    background: rgb(100, 100, 100);
}

form .input-info {
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.144);
    background: none;
    outline: none;
    margin-top: 10px;
    color: rgba(131, 131, 131, 0.75);
    width: 300px;
}

.comentario {
    padding-right: 30px;
    padding-bottom: 30px;
}


.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.btn {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.btn > input {
    transition: 0.6s;
    width: 80px;
    border: none;
    background: none;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px white;
}


.btn > input:hover {
    transition: 0.6s;
    background: rgb(82, 82, 82);
    color: black;
    color: white;
}